astroid
isort
jedi
lazy-object-proxy
mccabe
parso
pika
platformdirs
pylint
toml
wrapt
boto3
jinja2
flask
flask-cors
prometheus-client
python-dotenv
pytest
black
flask_prometheus_metrics
python-json-logger

